@media screen and (max-width: 1899px) and (min-width:1400px){
  .container {
    width: calc(1400px - (100vw - 100%));
  }
  .wrapper-head{
    padding: 0 250px 315px;
  }
  .banner__img {
    position: absolute;
    content: url(../assests/images/backgr_devices.png);
    width: 570px;
    top: 241px;
  }
  .banner-text__paragraph {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 28px;
  }
  .btn {
    font-weight: 400;
    padding: 8px 20px;
  }
  .heading {
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 40px;
  }
  .wrapper-head {
    background-position: center;
  }
  .advantages {
    margin: 0 250px 100px;
  }
  .try {
    padding: 60px 210px 43px;
    margin: 0 10px 100px;
    background-size: contain;
  }
  .try-form__input {
    padding: 20px 10px;
    margin-bottom: 20px;
    width: 460px;
    height: 57px;
  }
  .try-form__input-submit {
    line-height: 14px;
  }
  .description {
    margin: 0 250px 50px;
    padding-bottom: 150px;
  }
  .description-images__img-people {
    width: 388px;
    height: 220px;
    opacity: 0.5;
  }
  .rewards {
    margin: 0 250px 105px;
  }
  .rewards-list__card {
    padding: 40px 25px;
    margin-right: 15px;
  }
  .rewards-list__card-img {
    margin-bottom: 20px;
  }
  .rewards-list__card-number {
    margin-bottom: 20px;
  }
  .footer {
    margin: 0 250px;
    padding: 70px 0 25px;
  }
  .service-support, .products, .social {
    width: 193px;
    margin-top: 30px;
  }
  .footer__heading {
    font-size: 16px;
    margin-bottom: 25px;
  }
  .footer-nav__list-elem {
    margin-bottom: 10px;
  }
  .footer-nav__list-elem, .footer-list__link {
    line-height: 20px;
    font-size: 18px;
  }

  .go-up {
    right: 230px;
    top: 150px;
  }
}

@media screen and (max-width: 1399px) and (min-width:1200px){
  .container {
    width: calc(1200px - (100vw - 100%));
  }
  .btn {
    line-height: 16px;
    padding: 10px 20px;
  }
  .heading {
    font-weight: 500;
    font-size: 39px;
    line-height: 48px;
    margin-bottom: 30px;
  }
  .wrapper-head {
    padding: 0 200px 195px;
    background-size: contain;
    margin-bottom: 35px;
  }
  .header {
    align-items: flex-end;
    margin-bottom: 0;
  }
  .logo__img {
    width: 57px;
    height: 58px;
    margin-right: 8px;
  }
  .logo__text {
    font-size: 27px;
    line-height: 30px;
  }
  .banner-text__paragraph {
    font-size: 27px;
    line-height: 34px;
    margin-bottom: 24px;
  }
  .banner__img {
    width: 502px;
    top: 130px;
  }
  .advantages {
    margin: 0 200px 70px;
  }
  .advantages-list__elem {
    width: 150px;
    text-align: center;
    margin-right: 30px;
  }
  .advantages-list__elem-icons {
    margin-bottom: 25px;
  }
  .advantages-list__elem-paragraph {
    font-size: 19px;
    line-height: 25px;
    padding: 0 8px;
  }

  .try {
    background-size: contain;
    padding: 30px 190px 10px;
    margin: 0 10px 70px;
    box-shadow: 8px 8px 0 0 #75bafe;
  }
  .try-form__input {
    padding: 20px 25px;
    margin-bottom: 27px;
    width: 390px;
    height: 53px;
  }

  .description {
    margin: 0 200px 10px;
    padding-bottom: 130px;
    line-height: 24px;
  }
  .description-images__img-people {
    display: none;
  }

  .rewards {
    margin: 0 200px 70px;
  }
  .rewards-list__card {
    width: 179px;
    padding: 20px 10px;
    margin-right: 15px; 
    box-shadow: 2px 5px 0px #002476;
  }
  .rewards-list__card-img {
    margin-bottom: 15px;
  }
  .rewards-list__card-number {
    margin-bottom: 15px;
  }
  .rewards-list__card-text {
    font-size: 16px;
    line-height: 19px;
  }
  .choice {
    margin: 0 200px 91px;
  }

  .footer {
    margin: 0 200px;
    padding: 40px 0;
  }
  .footer-logo__img {
    width: 37px;
    height: 30px;
    margin-right: 5px;
  }
  .footer-logo__text {
    line-height: 14px;
    font-size: 18px;
  }
  .service-support, .products {
    margin-right: 15px;
  }
  .service-support, .products, .social {
    width: 190px;
    margin-top: 20px;
  }
  .footer__heading {
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 20px;
  }
  .footer-nav__list-elem {
    margin-bottom: 7px;
  }
  .footer-nav__list-elem, .footer-list__link {
      line-height: 20px;
      font-size: 17px;
  }

  .go-up {
    right: 207px;
    top: 133px;
  }
}

@media screen and (max-width: 1199px) and (min-width: 992px){
  .container {
    font-size: 17px;
    width: calc(992px - (100vw - 100%));
  }
  .btn {
    line-height: 13px;
    padding: 9px 15px;
  }
  .heading {
    font-size: 37px;
    line-height: 44px;
    margin-bottom: 25px;
  }
  .wrapper-head {
    padding: 0 100px 117px;
    background-size: contain;
    margin-bottom: 35px;
  }
  .header {
    align-items: flex-end;
    margin-bottom: 0;
  }
  .logo__img {
    width: 55px;
    height: 52px;
    margin-right: 5px;
  }
  .logo__text {
    font-size: 27px;
    line-height: 30px;
  }
  .banner-text__paragraph {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .banner__img {
    display: none;
  }
  .support__email, .support__phone {
    font-size: 15px;
  }

  .advantages {
    margin: 0 100px 70px;
  }
  .advantages-list__elem {
    width: 130px;
    margin-right: 20px;
  }
  .advantages-list__elem-icons {
    margin-bottom: 20px;
    height: 70px;
  }
  .advantages-list__elem-paragraph {
    font-size: 17px;
    line-height: 24px;
    padding: 0 8px;
  }

  .try {
    background-size: contain;
    padding: 25px 95px 10px;
    margin: 0 5px 60px;
    box-shadow: 6px 6px 0 0 #75bafe;
  }
  .try-form__input {
    margin-bottom: 22px;
    width: 370px;
    height: 35px;
  }
  .try-form__input-submit {
    height: 40px;
  }
  .try-form__input::-webkit-input-placeholder {
    font-size: 17px;
  }

  .description {
    margin: 0 100px 10px;
    padding-bottom: 130px;
    line-height: 24px;
  }
  .description-images__img-people {
    display: none;
  }
  .description-images__img-check {
    left: -50px;
  }
  .description-images__img-ellipse-little {
    left: 21px;
    bottom: 276px;
  }
  .description-images__img-ellipse-big {
    bottom: 121px;
    left: -25px;
  }


  .rewards {
    margin: 0 100px 60px;
  }
  .rewards-list__card {
    width: 179px;
    padding: 20px 10px;
    margin-right: 15px; 
    box-shadow: 2px 5px 0px #002476;
  }
  .rewards-list__card-img {
    margin-bottom: 15px;
    width: 80px;
  }
  .rewards-list__card-number {
    margin-bottom: 15px;
  }
  .rewards-list__card-text {
    font-size: 16px;
    line-height: 19px;
  }
  .choice {
    margin: 0 200px 91px;
  }

  .footer {
    margin: 0 100px;
    padding: 40px 0;
  }
  .footer-logo__img {
    width: 37px;
    height: 30px;
    margin-right: 5px;
  }
  .footer-logo__text {
    line-height: 14px;
    font-size: 18px;
  }
  .service-support, .products {
    margin-right: 15px;
  }
  .service-support, .products, .social {
    width: 190px;
    margin-top: 20px;
  }
  .footer__heading {
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 20px;
  }
  .footer-nav__list-elem {
    margin-bottom: 7px;
  }
  .footer-nav__list-elem, .footer-list__link {
      line-height: 20px;
      font-size: 17px;
  }

  .go-up {
    right: 107px;
    top: 113px;
    padding: 14px 15.5px;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px){
  .container {
    font-size: 15px;
    width: calc(768px - (100vw - 100%));
  }
  .btn {
    line-height: 14px;
    padding: 10px 15px;
  }
  .heading {
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 17px;
  }
  .wrapper-head {
    padding: 0 70px 159px;
    background-size: contain;
    margin-bottom: 5px;
  }
  .header {
    align-items: flex-end;
    padding: 10px 0;
    margin-bottom: 0;
  }
  .logo__img {
    width: 40px;
    height: 38px;
    margin-right: 3px;
  }
  .logo__text {
    font-size: 17px;
    line-height: 22px;
  }
  .authorization {
    margin-right: 15px;
  } 
  .choose-language::after {
    left: 4px;
    bottom: 0px;
  } 


  .banner-text__paragraph {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 20px;
  }
  .banner__img {
    display: none;
  }
  .support__email {
    margin-right: 15px;
  }
  .support__email, .support__phone {
    font-size: 15 px;
  }

  .advantages {
    margin: 0 100px 40px;
  }
  .advantages-list__elem {
    width: 103px;
    margin-right: 15px;
  }
  .advantages-list__elem-icons {
    margin-bottom: 10px;
    height: 68px;
  }
  .advantages-list__elem-paragraph {
    font-size: 15px;
    line-height: 18px;
    padding: 0 5px;
  }

  .try {
    background-size: contain;
    padding: 7px 95px 13px;
    margin: 0 5px 30px;
  }
  .try-form__input {
    margin-bottom: 12px;
    width: 271px;
    height: 50px;
    padding: 5px 15px;
  }
  .try-form__input-submit {
    font-size: 18px;
    height: 35px;
  }
  .try-form__input::-webkit-input-placeholder {
    font-size: 17px;
  }

  .description {
    margin: 0 100px 40px;
    padding-bottom: 0px;
    line-height: 24px;
  }
  .discription-text {
    width: 550px;
  }
  .discription-text__paragraph {
    margin-bottom: 10px;
  }
  .description-images__img-people {
    display: none;
  }
  .description-images__img-check {
    bottom: 1px;
    left: 543px;
  }
  .description-images__img-ellipse-little {
    left: 405px;
    bottom: 128px;
  }
  .description-images__img-ellipse-big {
    bottom: 77px;
    left: -27px;
  }
  .description-images__img-rectangle {
    width: 20.07px;
    height: 18.07px;
    bottom: 102px;
  }
  .description-images__img-figure {
    bottom: 56px;
    left: 472px;
  }

  .rewards {
    margin: 0 100px 50px;
  }
  .rewards-list__card {
    width: 134px;
    padding: 15px 5px;
    margin-right: 11px;
    box-shadow: 2px 5px 0px #002476;
  }
  .rewards-list__card-img {
    margin-bottom: 10px;
    width: 75px;
  }
  .rewards-list__card-number {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 15px;
  }
  .rewards-list__card-text {
    font-size: 13px;
    line-height: 17px;
  }
  .choice {
    margin: 0 100px 61px;
  }
  .choice__btn {
    margin-bottom: 15px;
  }

  .footer {
    margin: 0 100px;
    padding: 44px 0 30px;
  }
  .footer-logo__img {
    width: 38px;
    height: 33px;
    margin-right: 5px;
  }
  .footer-logo__text {
    line-height: 15px;
    font-size: 16px;
  }
  .service-support, .products {
    margin-right: 10px;
  }
  .service-support, .products, .social {
    width: 120px;
    margin-top: 15px;
  }
  .footer__heading {
    font-size: 15px;
    line-height: 17px;
    margin-bottom: 15px;
  }
  .footer-nav__list-elem {
    margin-bottom: 5px;
  }
  .footer-nav__list-elem,
  .footer-list__link {
    line-height: 17px;
    font-size: 13px;
  }
  .footer-wrapper::before {
    width: 97%;
  }

  .go-up {
    width: 40px;
    height: 40px;
    right: 76px;
    top: 108px;
    padding: 11.5px 9px;
  }
}

@media screen and (max-width: 767px) and (min-width: 576px){
  .container {
    font-size: 12px;
    width: calc(576px - (100vw - 100%));
  }
  .btn {
    line-height: 13px;
    padding: 6px 12px;
  }
  .heading {
    font-size: 21px;
    line-height: 27px;
    margin-bottom: 10px;
  }
  .wrapper-head {
    padding: 0 50px 56px;
    background-size: contain;
    margin-bottom: 25px;
  }
  .header {
    align-items: flex-end;
    padding: 10px 0 0;
    margin-bottom: 0;
  }
  .logo__img {
    width: 40px;
    height: 38px;
    margin-right: 3px;
  }
  .logo__text {
    font-size: 17px;
    line-height: 22px;
  }
  .authorization {
    margin-right: 15px;
  } 
  .choose-language::after {
    left: 4px;
    bottom: 0px;
  } 


  .banner-text__paragraph {
    font-size: 14px;
    margin-bottom: 5px;
    line-height: 20px;
  }
  .banner__img {
    display: none;
  }
  .support__email, .support__phone {
    font-size: 13px;
  }

  .advantages {
    margin: 0 50px 40px;
  }
  .advantages-list__elem {
    width: 87px;
    margin-right: 10px;
  }
  .advantages-list__elem-icons {
    margin-bottom: 10px;
    height: 58px;
  }
  .advantages-list__elem-paragraph {
    font-size: 13px;
    line-height: 18px;
    padding: 0 5px;
  }

  .try {
    background-size: contain;
    padding: 5px 40px 13px;
    margin: 0 2px 30px;
    box-shadow: 5px 5px 0 0 #75bafe;
  }
  .try-form__input {
    margin-bottom: 8px;
    width: 233px;
    height: 30px;
    padding: 0px 10px;
  }
  .try-form__input-submit {
    font-size: 16px;
    height: 35px;
  }
  .try-form__input::-webkit-input-placeholder {
    font-size: 13px;
  }

  .description {
    margin: 0 50px 40px;
    padding-bottom: 0px;
    line-height: 24px;
  }
  .discription-text {
    width: 400px;
  }
  .discription-text__paragraph {
    margin-bottom: 10px;
  }
  .description-images__img-people {
    display: none;
  }
  .description-images__img-check {
    bottom: 5px;
    left: 440px;
  }
  .description-images__img-ellipse-little {
    left: 405px;
    bottom: 136px;
  }
  .description-images__img-ellipse-big {
    bottom: 72px;
    left: -21px;
  }
  .description-images__img-rectangle {
    width: 20.07px;
    height: 18.07px;
    bottom: 102px;
  }
  .description-images__img-figure {
    bottom: 49px;
    left: 368px;
  }

  .rewards {
    margin: 0 50px 30px;
  }
  .rewards-list__card {
    width: 114px;
    padding: 15px 5px;
    margin-right: 6px;
    box-shadow: 1px 3px 0px #002476;
  }
  .rewards-list__card-img {
    margin-bottom: 10px;
    width: 65px;
  }
  .rewards-list__card-number {
    margin-bottom: 8px;
    font-size: 15px;
    line-height: 15px;
  }
  .rewards-list__card-text {
    font-size: 12px;
    line-height: 16px;
  }
  .choice {
    margin: 0 50px 41px;
  }
  .choice__btn {
    margin-bottom: 10px;
  }

  .footer {
    margin: 0 50px;
    padding: 30px 0 20px;
  }
  .footer-logo__img {
    width: 30px;
    height: 26px;
    margin-right: 3px;
  }
  .footer-logo__text {
    line-height: 14px;
    font-size: 15px;
  }
  .service-support, .products {
    margin-right: 10px;
  }
  .service-support, .products, .social {
    width: 103px;
    margin-top: 15px;
  }
  .footer__heading {
    font-size: 13px;
    line-height: 17px;
    margin-bottom: 13px;
  }
  .footer-nav__list-elem {
    margin-bottom: 5px;
  }
  .footer-nav__list-elem,
  .footer-list__link {
    line-height: 17px;
    font-size: 12px;
  }
  .footer-wrapper::before {
    width: 95%;
  }

  .go-up {
    width: 40px;
    height: 40px;
    right: 33px;
    top: 96px; 
    padding: 11.5px 10px; 
  }
}

@media screen and (max-width: 575px) and (min-width: 320px){  
  .support .support__email::before {
    content: "";
  }
  .support .support__phone::before {
    content: "";
  }
  .container {
    font-size: 10px;
    width: calc(320px - (100vw - 100%));
  }
  .btn {
    line-height: 10px;
    padding: 4px 8px;
    border: 1px solid #00a674;
  }
  .heading {
    font-size: 15px;
    line-height: 14px;
    margin-bottom: 12px;
  }
  .wrapper-head {
    padding: 0px 20px 33px;
    background-size: contain;
    margin-bottom: 10px;
  }
  .header {
    align-items: flex-end;
    padding: 8px 0 0;
    margin-bottom: 0;
  }
  .logo__img {
    width: 30px;
    height: 26px;
    margin-right: 1px;
  }
  .logo__text {
    font-size: 11px;
    line-height: 11px;
  }
  .authorization {
    margin-right: 8px;
  } 
  .choose-language::after {
    left: 3px;
    top: 1px;
    bottom: 0px;
  } 

  .banner {
    text-align: center  ;
  }
  .banner-text__heading {
    text-align: center;
  }
  .banner-text__paragraph {
    font-size: 10px;
    margin-bottom: 10px;
    line-height: 8px;
  }
  .banner__img {
    display: none;
    width: 230px;
    right: 0;
    bottom: -9px;
  }
  .support__email, .support__phone {
    font-size: 7px;
  }

  .advantages {
    margin: 0 20px 20px;
  }
  .advantages-list {
    flex-wrap: wrap;
  }
  .advantages-list__elem {
    width: 115px;
    margin-right: 5px;
  }
  .advantages-list__elem-icons {
    margin-bottom: 4px;
    height: 40px;
  }
  .advantages-list__elem-paragraph {
    font-size: 10px;
    line-height: 10px;
    padding: 0 5px;
  }

  .try {
    background-size: contain;
    padding: 5px 17px 0;
    margin: 0 1px 15px;
    box-shadow: 2px 2px 0 0 #75bafe;
    border-radius: 95px 0;  
  }
  .try-form {
    justify-content: center;
  }
  .try-form__input {
    margin-bottom: 7px;
    width: 167px;
    height: 20px;
    padding: 0px 10px;
    border: 1px solid #00a674;
  }
  .try-form__input-submit {
    font-size: 10px;
    height: 17px;
  }
  .try-form__input::-webkit-input-placeholder {
    font-size: 8px;
  }

  .description {
    margin: 0 20px 20px;
    padding-bottom: 0px;
    line-height: 11px;
  }
  .discription-text {
    width: 250px;
  }
  .discription-text__paragraph {
    margin-bottom: 7px;
  }
  .description-images__img-people {
    display: none;
  }
  .description-images__img-check {
    bottom: 2px;
    left: 252px;
    opacity: 0.34;
  }
  .description-images__img-ellipse-little {
    left: 205px;
    bottom: 55px;
    opacity: 0.7;
  }
  .description-images__img-ellipse-big {
    bottom: 89px;
    left: -12px;
  }
  .description-images__img-rectangle {
    display: none;
  }
  .description-images__img-figure {
    bottom: 49px;
    left: 243px;
  }

  .rewards {
    margin: 0 20px 20px;
  }
  .rewards-list {
    flex-wrap: wrap;
  }
  .rewards-list__card {
    width: 84px;
    padding: 17px 7px;
    margin: 0 6px 10px 0;
    box-shadow: 2px 3px 0px #002476;
  }
  .rewards-list__card-img {
    margin-bottom: 5px;
    width: 40px;
  }
  .rewards-list__card-number {
    margin-bottom: 3px;
    font-size: 10px;
    line-height: 10px;
  }
  .rewards-list__card-text {
    font-size: 9px;
    line-height: 10px;
  }

  .choice {
    margin: 0 20px 31px;
  }
  .choice__btn {
    margin-bottom: 5px;
  }

  .footer {
    margin: 0 20px;
    padding: 15px 0 10px;
  }
  .footer-logo__img {
    width: 20px;
    height: 17px;
    margin-right: 2px;
}
  .footer-logo__text {
    line-height: 9px;
    font-size: 8px;
  }
  .service-support, .products {
    margin-right: 10px;
  }
  .service-support, .products, .social {
    width: 59px;
    margin-top: 10px;
  }
  .footer__heading {
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 6px;
  }
  .footer-nav__list-elem {
    margin-bottom: 3px;
  }
  .footer-nav__list-elem,
  .footer-list__link {
    line-height: 9px;
    font-size: 7px;
  }
  .footer-wrapper::before {
    width: 96%;
    margin: 0 5px;
    top: -5px;
  }

  .go-up {
    width: 23px;
    height: 23px;
    right: 10px;
    top: 57px;
    padding: 4px 1px;
  }
}


