.svg {
  display: none;
}

.container {
  font: normal normal 20px "Roboto", sans-serif;
  color: #fff;
  width: 1900px;
  margin: 0 auto;
}
.btn {
  color: #fff;
  font-weight: 500;
  line-height: 22px;
  padding: 11px 28px;
  border: 2px solid #00a674;
  box-sizing: border-box;
  border-radius: 30px;
  background: none;
  text-decoration: none;
}
.heading {
  font-weight: 500;
  font-size: 45px;
  line-height: 53px;

  text-align: center;

  color: #002476;

  margin-bottom: 60px;
}

.wrapper-head {
  position: relative;
  padding: 0 350px 315px;
  background-image: url(../assests/images/backgr_1.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 107px;
}

/*HEADER*/
.header {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 87px;
}
.logo {
  position: relative;
  display: flex;
  align-items: flex-end;
}
.logo__img {
  width: 72px;
  height: 67px;
  margin-right: 11px;
}
.logo__text {
  font-size: 30px;
  line-height: 35px;
}
.authorization {
  margin-right: 24px;
  background-color: #00a674;
}
.logo-link {
  width: 100%;
  height: 100%;
  position: absolute;
  display: inline-block;
}
.choose-language::after {
  content: url(../assests/icons/arrow.svg);
  position: relative;
  left: 5px;
  bottom: 2px;
}

/*BANNER BLOCK*/
.banner__img{
  position: absolute;
  content: url(../assests/images/backgr_devices.png);
  width: 823px;
  right: 0;
}
.banner-text__heading {
  white-space: pre-line;
  text-align: left;
  color: #fff;
  font-size: 52px;
  line-height: 68px;
}
.banner-text__paragraph {
  font-size: 36px;
  line-height: 42px;
  color: #d3e5ff;
  margin-bottom: 38px;
}
.support-btn {
  margin-right: 30px;
}
.support .support__email::before {
  content: url(../assests/icons/email.svg);
  width: 2px;
  margin-right: 3px;
  position: relative;
  top: 3px;
}
.support .support__phone::before {
  content: url(../assests/icons/phone.svg);
  margin-right: 3px;
  position: relative;
  top: 3px;
}

/*ADVANTAGES*/
.advantages {
  margin: 0 350px 100px;
}
.advantages-list {
  display: flex;
  justify-content: center;
}
.advantages-list__elem {
  width: 175px;
  text-align: center;
  margin-right: 30px;
}
.advantages-list__elem:last-child {
  margin: 0;
}
.advantages-list__elem-icons {
  margin-bottom: 30px;
}
.advantages-list__elem-paragraph {
  font-size: 20px;
  line-height: 26px;

  padding: 0 11.4px;

  color: #000c26;
}

/*TRY*/
.try {
  background-image: url("../assests/images/backgr-2.png");
  background-repeat: no-repeat;
  padding: 80px 310px 65px;
  margin: 0 40px 100px;
}

.try-heading {
  color: #fff;
  font-size: 50px;
  line-height: 59px;
}
.try-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.try-form__input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 30px;

  width: 585.5px;
  height: 66px;

  border: 2px solid #00a674;
  box-sizing: border-box;
  border-radius: 30px;
  color: #fff;
  background: none;
}
.try-form__input-submit {
  background-color: #00a674;
  font-size: 22px;
  line-height: 26px;
}
.try-form__input::-webkit-input-placeholder {
  color: #fff;
  font-size: 22px;
  line-height: 26px;
}

/*DESCRIPTION BLOCK*/
.description {
  position: relative;

  margin: 0 350px 106px;
  padding-bottom: 158px;

  line-height: 26px;

  color: #000c26;
}
.discription-text {
  width: 687px;
}
.discription-text__paragraph {
  margin-bottom: 30px;
}
.discription-text__paragraph:last-child {
  margin-bottom: 0;
}
.description-images__img {
  position: absolute;
}
.description-images__img-people {
  background-image: url(../assests/images/people.png);
  width: 585px;
  height: 330px;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.description-images__img-check {
  background-image: url(../assests/icons/check-icon.svg);
  width: 29px;
  height: 29px;
  left: -96px;
  bottom: 184px;
}
.description-images__img-ellipse-little {
  background-image: url(../assests/icons/Ellipse.svg);
  width: 8px;
  height: 8px;
  left: -150px;
  bottom: 289px;
}
.description-images__img-ellipse-big {
  background-image: url(../assests/icons/Ellipse.svg);
  width: 8px;
  height: 8px;
  bottom: 400px;
  left: -176px;
}
.description-images__img-rectangle {
  background-image: url(../assests/icons/Rectangle.svg);
  width: 20.07px;
  height: 18.07px;
  bottom: 222px;
  left: 58px;
}
.description-images__img-figure {
  background-image: url(../assests/icons/Group.svg);
  width: 54.27px;
  height: 52.26px;
  bottom: 362px;
  left: -60px;
}

/*REWARDS BLOCK*/
.rewards {
  margin: 0 350px 105px;
}
.rewards-list {
  display: flex;
  justify-content: center;
}
.rewards-list__card {
  width: 275px;
  padding: 58px 28px;
  box-sizing: border-box;
  margin-right: 35px;

  text-align: center;

  border: 1px solid #002476;
  border-radius: 56px;
  box-shadow: 3px 8px 0px #002476;
}
.rewards-list__card:last-child {
  margin: 0;
}
.rewards-list__card-img {
  margin-bottom: 30px;
}
.rewards-list__card-number {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;

  color: #000c26;

  margin-bottom: 30px;
}
.rewards-list__card-text {
  font-size: 17px;
  line-height: 20px;

  color: #000c26;
}

/*CHOICE block*/
.choice {
  margin: 0 350px 121px;
  text-align: center;
}
.choice__heading {
  margin-bottom: 30px;
}
.choice__btn {
  background-color: #00a674;
  margin-bottom: 30px;
}
.choice__paragraph {
  font-weight: 500;
  line-height: 23px;
  color: #000c26;
}
.choice__paragraph-link {
  color: #00a674;
  text-decoration: none;
}
.choice__paragraph-link:hover {
  cursor: pointer;
}
.choice__paragraph-linkk:visited {
  color: #00a674;
}

/*FOOTER*/
.footer-wrapper {
  position: relative;
  background: linear-gradient(
    115.99deg,
    #002476 12.93%,
    #063d8d 33.28%,
    #05579c 59.65%,
    #00a6e6 100.88%
  );
}
.footer-wrapper::before {
  content: "";
  position: absolute;
  background-color: #00a6e6;
  height: 100%;
  width: 98%;
  margin: 0 15px;
  top: -15px;
  z-index: -1;
}
.footer {
  margin: 0 350px;
  padding: 82px 0 31px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-logo__img {
  width: 52px;
  height: 41px;
  margin-right: 14px;
}
.footer-logo__text {
  line-height: 23px;
}
.footer-nav {
  display: flex;
  justify-content: space-between;
}
.service-support,
.products,
.social {
  width: 278px;
  margin-top: 30px;
}
.service-support,
.products {
  margin-right: 27px;
}
.footer__heading {
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;

  color: #d3e5ff;

  margin-bottom: 30px;
}
.footer-nav__list-elem,
.footer-list__link {
  font-weight: bold;
  line-height: 23px;
  text-decoration: none;
  color: #fff;
}
.footer-nav__list-elem {
  margin-bottom: 15px;
}
.support__email,
.support__phone {
  text-decoration: none;
  color: #fff;
}
.support__email {
  margin-right: 24px;
}
.footer-list__link:visited,
.footer-list__link:active,
.support:visited {
  color: #fff;
}
.go-up {
  position: absolute;
  right: 295px;
  top: 205px;
  width: 52px;
  height: 52px;
  box-sizing: border-box;
  padding: 10.5px 15.5px;
  background: rgba(0, 36, 118, 0.5);
  border-radius: 50%;
}
.go-up::after {
  content: url(../assests/icons/Vector-up.svg);
  width: 21px;
  height: 13px;
}
.go-up:hover {
  cursor: pointer;
}
